body {
  background-color: rgba(121, 224, 134, 0.5);
}
.center {
  position: absolute;
  top: 220px;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  z-index: 1;
  background-color: rgba(11, 224, 134, 0.5);
  padding: 10px;
  border-radius: 50%;
  overflow: hidden;
  transition: background-color 1s;
}
.center :hover {
  cursor: pointer;
}
.pause {
  background-color: rgba(101, 164, 134, 0.5) !important;
}
.pauseR {
  background-color: rgba(162, 53, 54, 0.5) !important;
}
.top {
  height: 55%;
  width: 110%;
  margin-left: -5%;
  margin-top: -5%;
  text-align: center;
  /*background-color: rgba(172,43,24,0.5);*/
}
.bottom {
  width: 110%;
  margin-left: -5%;
  margin-bottom: -5%;
  height: 55%;
  /*background-color: rgba(202,53,74,0.5);*/
}
.Timer {
  padding-top: 60px;
  font-size: 60px;
  text-align: center;
  color: white;
}
#item {
  padding-top: 100px;
  font-size: 50px;
  text-align: center;
  color: white;
}
.session {
  position: relative;
  margin: 0px;
  float: left;
  width: 50%;
  height: 100%;
  /*background-color: red;*/
  padding: 60px 0 0 200px;
}
.break {
  float: left;
  width: 50%;
  height: 100%;
  /*background-color: yellow;*/
  padding: 60px 200px 0 0;
}
header {
  text-align: center;
  /*padding-top: 80px;*/
}
header span {
  display: inline-block;
  /*width: 100px;*/
  margin-left: 15px;
  margin-right: 15px;
  font-size: 35px;
  line-height: 35px;
  color: white;
  vertical-align: middle;
}
header .title {
  color: white;
  font-size: 25px;
  margin-bottom: 5px;
}
.btn {
  width: 60px;
  color: white;
  font-size: 26px;
  text-align: center;
  padding-bottom: 11px;
  background-color: rgba(11, 224, 134, 0.5);
}
#water {
  position: absolute;
  background-color: rgba(101, 204, 134, 0.5);
  height: 0%;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: height 1s;
  transition-timing-function: linear;
}
